body {
  background-color: #f6f6f6;
}
.iris {
  background-color: #5d5fef;
  color: #fff;
}
.iris-text {
  color: #5d5fef;
}
.item {
  color: #858585;
}
.item:hover {
  color: #5d5fef;
  background-color: #eeefff;
}
.item:focus {
  color: #5d5fef;
  background-color: #eeefff;
}
.card-text {
  color: #949494;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.author-img {
  width: 40px;
}
#card-container .card,
.max {
  max-width: 1140px;
  margin: 0 auto;
}
#spinner {
  height: 60vh;
}
#no-news {
  height: 55vh;
}
@media (max-width: 766px) {
  .item {
    width: 100%;
    background-color: #5d5fef;
    color: white;
  }
  .image-container {
    display: flex;
    justify-content: center;
  }
  main {
    padding-left: 15px;
    padding-right: 15px;
  }
}
